<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<form  method="post" action="http://127.0.0.1:8000/add-money-to-wallet/" >

	<label>AMOUNT</label><input type="number" name="amount">
	<label>UNIQUE-ID</label><input type="number" id="unique_id" value={{iden}} name="unique_id">
	<label>TransactionTYpe</label><select name="transaction_type">
      
      <option value="ESI">ESI</option>
      <option value="PENSION">Pesnion</option>
      <option value="PF">PF</option>
  
    </select> 

    <button type="submit">Submit </button>

	

</form>


</body>
</html>